{
  "branches": [
    "main"
  ],
  "ci": false,
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": ["pyproject.toml"],
            "from": "version = \".*\"",
            "to": "version = \"${nextRelease.version}\""
          },
          {
            "files": ["README.md"],
            "from": "version = \">= .*\"",
            "to": "version = \">= ${nextRelease.version}\""
          },
          {
            "files": ["docs/index.md"],
            "from": "version = \">= .*\"",
            "to": "version = \">= ${nextRelease.version}\""
          },
          {
            "files": ["docs/usage/installation.md"],
            "from": "version = \">= .*\"",
            "to": "version = \">= ${nextRelease.version}\""
          }
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "success": "This ${issue.pull_request ? 'PR is included' : 'issue has been resolved'} in version ${nextRelease.version} :tada:",
        "publish": true
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Changelog\n\nAll notable changes to this project will be documented in this file."
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "pyproject.toml",
          "README.md",
          "docs/index.md",
          "docs/usage/installation.md"
        ],
        "message": "chore(release): version ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
